body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f4f4f9;
}

h1 {
  text-align: center;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #4caf50;
  color: white;
}

.controls {
  margin-bottom: 20px;
  text-align: center;
}

.controls input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.controls button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  background-color: #136916;
  color: white;
  cursor: pointer;
}

.controls button:hover {
  background-color: #45a049;
}
